// Steps to install SASS - For Global installation

// Check if the following packages are installed

node --version // JavaScript runtime used to run the Node Package Manager (npm) - v20.16.0 recommended

nvm --version // A bash script used to manage multiple active Node.js versions

npm --version // The default package manager for Node.js

// Installation of SASS (globally)
npm install -g sass

// Check for the SASS version 
sass --version