// To write Sass file with margins using mixin

@mixin margins($value) {
  margin-left: $value;
  margin-right: $value;
}

body {
  @include margins(10px);

  div {
    @include margins(15px);
  }
}

